body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #141414;
    background-color: #74db67;}
body {
        display: block;
        margin: 8px;
    }
.col{ 
    background-color: darkgreen;
    padding: 40px;
}
.btn1{
    float:left;
    width: 150px;
    height: 30px;
    padding-top: 0%;
   }
.btn2{
    float:right;
    width: 150px;
    height: 30px;
    padding-top: 0%;
}